<div class="col">
    <div class="card h-100">
        <img src="{{ product.imageUrl }}" alt="" />
        <div class="card-body">
            <h5 class="card-title" [routerLink]="['/product', product.id]">{{ product.name }}</h5>
            <p class="card-text">{{ product.price | currency: "USD" }}</p>
            <button class="btn btn-warning">Add to Cart</button>
            <!-- <form action="cart.html" method="GET">
                <input type="hidden" name="product" value="Virtual Reality Glasses">
                <input type="hidden" name="price" value="299.00">
                <input type="hidden" name="quantity" value="1">
                <input type="submit" class="btn btn-warning" value="Add to Cart">
            </form> -->
        </div>
    </div>
</div>